<!DOCTYPE html>
<html>
  <head>
    <title>SprocketsCommonerSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
